In [1]:
import numpy as np 
import pandas as pd

In [2]:
trade = pd.read_csv('comtrade.csv')[['Year', 'Trade Flow', 'Partner', 'Commodity', 'Trade Value (US$)']]
trade.head()

,Year,Trade Flow,Partner,Commodity,Trade Value (US$)
0,2010,Import,Germany,Live animals other than animals of division 03,2062530
1,2010,Export,Germany,Live animals other than animals of division 03,590391
2,2010,Import,"China, Hong Kong SAR",Live animals other than animals of division 03,18454
3,2010,Export,"China, Hong Kong SAR",Live animals other than animals of division 03,379413479
4,2010,Import,Japan,Live animals other than animals of division 03,3273569

In [3]:
files = ['comtrade (1).csv', 'comtrade (2).csv', 'comtrade (3).csv']

for f in files:
    df = pd.read_csv(f)[['Year', 'Trade Flow', 'Partner', 'Commodity', 'Trade Value (US$)']]
    trade = pd.concat([trade, df])

trade.Partner.unique()

array(['Germany', 'China, Hong Kong SAR', 'Japan', 'Rep. of Korea', 'USA',
       'Australia', 'France', 'Russian Federation', 'India', 'Viet Nam'],
      dtype=object)

In [4]:
trade.head()

,Year,Trade Flow,Partner,Commodity,Trade Value (US$)
0,2010,Import,Germany,Live animals other than animals of division 03,2062530
1,2010,Export,Germany,Live animals other than animals of division 03,590391
2,2010,Import,"China, Hong Kong SAR",Live animals other than animals of division 03,18454
3,2010,Export,"China, Hong Kong SAR",Live animals other than animals of division 03,379413479
4,2010,Import,Japan,Live animals other than animals of division 03,3273569

In [5]:
trade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11345 entries, 0 to 2518
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               11345 non-null  int64
 1   Trade Flow         11345 non-null  object
 2   Partner            11345 non-null  object
 3   Commodity          11345 non-null  object
 4   Trade Value (US$)  11345 non-null  int64
dtypes: int64(2), object(3)
memory usage: 531.8+ KB

In [6]:
trade.to_excel('Final Trade.xlsx', index=False)

In [7]:
trade['Year'] = trade['Year'].astype(str)
trade['Key'] = trade['Year'] + '_' + trade['Partner'] + '_' + trade['Commodity']
trade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11345 entries, 0 to 2518
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               11345 non-null  object
 1   Trade Flow         11345 non-null  object
 2   Partner            11345 non-null  object
 3   Commodity          11345 non-null  object
 4   Trade Value (US$)  11345 non-null  int64
 5   Key                11345 non-null  object
dtypes: int64(1), object(5)
memory usage: 620.4+ KB

In [8]:
trade2 = pd.pivot_table(trade, values='Trade Value (US$)', index='Key', columns = 'Trade Flow', aggfunc=np.sum).reset_index()
trade2.head()

Trade Flow,Key,Export,Import
0,2010_Australia_Animal oils and fats,7.181210e+05,182527050.0
1,2010_Australia_Animal or vegetable fats and oi...,2.253221e+06,52696.0
2,2010_Australia_Articles of apparel and clothin...,2.864312e+09,1066262.0
3,2010_Australia_Beverages,9.981302e+06,150243585.0
4,2010_Australia_Cereals and cereal preparations,3.724094e+07,526158840.0

In [9]:
trade2['Year'] = trade2['Key'].apply(lambda x: x.split('_')[0])
trade2['Partner'] = trade2['Key'].apply(lambda x: x.split('_')[1])
trade2['Commodity'] = trade2['Key'].apply(lambda x: x.split('_')[2])
trade2.head()

Trade Flow,Key,Export,Import,Year,Partner,Commodity
0,2010_Australia_Animal oils and fats,7.181210e+05,182527050.0,2010,Australia,Animal oils and fats
1,2010_Australia_Animal or vegetable fats and oi...,2.253221e+06,52696.0,2010,Australia,"Animal or vegetable fats and oils, processed; ..."
2,2010_Australia_Articles of apparel and clothin...,2.864312e+09,1066262.0,2010,Australia,Articles of apparel and clothing accessories
3,2010_Australia_Beverages,9.981302e+06,150243585.0,2010,Australia,Beverages
4,2010_Australia_Cereals and cereal preparations,3.724094e+07,526158840.0,2010,Australia,Cereals and cereal preparations

In [10]:
trade2.drop(columns='Key', inplace=True)
trade2.Year = trade2.Year.astype('int64')
trade2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5808 entries, 0 to 5807
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Export     5721 non-null   float64
 1   Import     5624 non-null   float64
 2   Year       5808 non-null   int64
 3   Partner    5808 non-null   object
 4   Commodity  5808 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 227.0+ KB

In [11]:
trade2.to_excel('Final Trade2.xlsx', index=False)

In [12]:
trade2.Year.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

# World

In [13]:
files = []
for i in range(5, 8, 1):
    file = "comtrade (" + str(i) + ").csv"
    files.append(file)

files

['comtrade (5).csv', 'comtrade (6).csv', 'comtrade (7).csv']

In [14]:
world = pd.read_csv('comtrade (4).csv')[['Year', 'Reporter', 'Commodity', 'Trade Value (US$)']]
world.head()

,Year,Reporter,Commodity,Trade Value (US$)
0,2015,Albania,Office machines and automatic data-processing ...,2148149
1,2015,Algeria,Office machines and automatic data-processing ...,120385
2,2015,Andorra,Office machines and automatic data-processing ...,1130779
3,2015,Angola,Office machines and automatic data-processing ...,2597079
4,2015,Antigua and Barbuda,Office machines and automatic data-processing ...,123926

In [16]:
for f in files:
    df = pd.read_csv(f)[['Year', 'Reporter', 'Commodity', 'Trade Value (US$)']]
    world = pd.concat([world, df])

world.Commodity.unique()

array(['Office machines and automatic data-processing machines',
       'Telecommunications and sound-recording and reproducing apparatus and equipment',
       'Electrical machinery, apparatus and appliances, n.e.s., and electrical parts thereof (including non-electrical counterparts, n.e.s., of electrical household-type equipment)',
       'Articles of apparel and clothing accessories',
       'Miscellaneous manufactured articles, n.e.s.',
       'Metalliferous ores and metal scrap',
       'Petroleum, petroleum products and related materials',
       'Road vehicles (including air-cushion vehicles)',
       'Professional, scientific and controlling instruments and apparatus, n.e.s.'],
      dtype=object)

In [18]:
world.to_excel('world.xlsx')

In [19]:
world.columns

Index(['Year', 'Reporter', 'Commodity', 'Trade Value (US$)'], dtype='object')